<h1>Minhas propostas</h1>
<% @my_proposals.each do |proposal| %>
  <h4><%= link_to proposal.property.title, property_proposal_path(proposal.id, proposal.property.id) %></h4>
  <ul>
    <li><%= proposal.rent_purpose %></li>
    <li><%= proposal.start_date %></li>
    <li><%= proposal.end_date %></li>
  </ul>
<% end  %>
